.Om {
 
h2, p {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    inline-size: none;
    font-weight: 400;
    gap: 0;
    height: auto;
    width: auto;
    background-color: rgba(225, 35, 35, 0.671);
}
}